<div class="background-white">
  <img src="https://s3.amazonaws.com/welunchandlearn/uploads/logo.png" style='height: 40px; margin: 20px 0px 15px 0px;'/>
  <br/>
  <div class="text4 weight3">
    <%= @user.first_name %> <%= @user.last_name %> from <%= @user.company.name %> has invited you to a weLunch&Learn event!
  </div>
  <br/>
  <div class="text4 weight3">
    Here are the initial event details:
  </div>
  <br/>
  <div class="text4 weight3">
    <span class="weight4">Event Name:</span><br/>
    <%= @event.name %>
    <br/>
    <br/>
    <span class="weight4">Event Description:</span><br/>
    <%= @event.description %>
  </div>
  <br/>
  <div class="text4 weight3">
    <%= link_to 'Click Here', edit_event_url(@event), :class => 'weight4 primary' %> to add details like food preferences, number of attendees and confirm the event with <%= @user.first_name %>!
  </div>
  <br/>
  <div class="text4 weight3">
    The WeLunch&Learn Team <br/>
    <a class="text4 weight3 primary" href="https://welunchandlearn.herokuapp.com">https://welunchandlearn.herokuapp.com</a>
  </div>
</div>
