<div class='grid-x grid-margin-x align-center'>
  <div class="form cell small-6">
    <div class="text1 weight7">Log In</div>
    <div class="text3">Or <%= link_to 'Create An Account', new_user_registration_path, :class => 'weight5'
    %></div>
    <br/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <br/>
      <div class="actions">
        <%= f.submit "Log in", :class => 'button radius' %>
      </div>
    <% end %>
    </div>
  </div>
</div>
