<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lunch&Learn" %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <div class="title-area">

            <a href="/">
              <%= image_tag "logo.png", :class => 'logo' %>
            </a>

        </div>
      </div>
      <div>
        <div class="top-bar-right">
          <ul class="menu">
            <%- if current_user -%>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <%- else -%>
              <%= link_to 'Sign In', new_user_session_path, :class => 'button', :id => 'top-bar-button-outline'  %>
              <%= link_to 'Sign Up', new_user_registration_path, :class => 'button', :id => 'top-bar-button' %>
            <%- end -%>
          </ul>
        </div>
      </div>
    </div>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%- if Rails.env.development? || Rails.env.test? -%>
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>
  </body>
</html>
